html {
  margin: 0;
  padding: 0;
}

body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  display: block;
}

/* text{
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(50%, 50%);
} */

/* want my text to be next to the grid, not inside of it */